<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Create Record</h4>
<div class="col-6">
    <form action="#" th:action="@{/records/getrecord}" th:object="${record}" method="post">
        <div class="form-group">
            <label for="id">id</label>
            <input type="number" id="id" name="id" min="0" max="10000">
        </div>


        <button type="submit" class="btn btn-primary">Save Record</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>