<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:text="${record.patient}"></h4>
<div class="col-6">



    <table th:if="${record.visits.size()>0}" class="table table-hover">
        <th>Visit id</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Diagnose</th>
        <th>Treatment</th>
        <th>Sick Leave</th>
        <tr th:each="visit : ${record.visits}">
            <td th:text="${visit.id}"></td>
            <td th:text="${visit.doctor}"></td>
            <td th:text="${visit.visitationDate}"></td>
            <td th:text="${visit.diagnose}"></td>
            <td th:text="${visit.treatment}"></td>
            <td th:text="${visit.sickLeave}"></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
